{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="Cards__grid">
  {% for row in rows %}
    <div class="Cards__item" data-animate data-animation="fade-in-up">
      <div class="Cards__content flush" style="padding: var(--space-sm);">
        {% if row.content['#row']._entity.title[0].value|render %}
          <h3 class="Cards__title h4"><a href="{{path('entity.node.canonical', {'node': row.content['#row'].nid }) }}">{{ row.content['#row']._entity.title[0].value|raw }}</a></h3>
        {% endif %}
        {% if row.content['#row']._entity.field_short_description[0].value|render %}
          <p>{{ row.content['#row']._entity.field_short_description[0].value }}</p>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
